In [77]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score,accuracy_score

In [52]:
df = pd.read_csv("https://github.com/ybifoundation/Dataset/raw/main/Admission%20Chance.csv")

In [53]:
df.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No          400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4    SOP               400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.3 KB

In [55]:
df.describe()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [56]:
df.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [57]:
df.shape

(400, 9)

In [58]:
x = df[['GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research']]

In [59]:
x.shape

(400, 7)

In [60]:
x

     GRE Score  TOEFL Score  University Rating   SOP  LOR   CGPA  Research
0          337          118                  4   4.5   4.5  9.65         1
1          324          107                  4   4.0   4.5  8.87         1
2          316          104                  3   3.0   3.5  8.00         1
3          322          110                  3   3.5   2.5  8.67         1
4          314          103                  2   2.0   3.0  8.21         0
..         ...          ...                ...   ...   ...   ...       ...
395        324          110                  3   3.5   3.5  9.04         1
396        325          107                  3   3.0   3.5  9.11         1
397        330          116                  4   5.0   4.5  9.45         1
398        312          103                  3   3.5   4.0  8.78         0
399        333          117                  4   5.0   4.0  9.66         1

[400 rows x 7 columns]

In [61]:
y = df['Chance of Admit ']

In [62]:
y.shape

(400,)

In [63]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

In [64]:
xtr,xte,ytr,yte = train_test_split(x,y,test_size=0.2,random_state=2529)

In [65]:
xtr,xte,ytr,yte

(     GRE Score  TOEFL Score  University Rating   SOP  LOR   CGPA  Research
 255        307          110                  4   4.0   4.5  8.37         0
 237        329          114                  5   4.5   5.0  9.19         1
 278        308          103                  2   3.0   3.5  8.49         0
 27         298           98                  2   1.5   2.5  7.50         1
 76         327          112                  3   3.0   3.0  8.72         1
 ..         ...          ...                ...   ...   ...   ...       ...
 72         321          111                  5   5.0   5.0  9.45         1
 228        318          112                  3   4.0   3.5  8.67         0
 316        298          101                  2   1.5   2.0  7.86         0
 50         313           98                  3   2.5   4.5  8.30         1
 352        303          100                  2   3.0   3.5  8.06         1

 [320 rows x 7 columns],
      GRE Score  TOEFL Score  University Rating   SOP  LOR   CGPA  Research
 244        314          107                  2   2.5   4.0  8.56         0
 366        320          104                  3   3.5   4.5  8.34         1
 163        317          105                  3   3.5   3.0  8.56         0
 379        311           99                  1   2.5   3.0  8.43         1
 182        299          100                  2   3.0   3.5  7.88         0
 ..         ...          ...                ...   ...   ...   ...       ...
 268        327          113                  4   4.5   5.0  9.14         0
 233        304          100                  2   2.5   3.5  8.07         0
 246        316          105                  3   3.0   3.5  8.73         0
 112        301          107                  3   3.5   3.5  8.34         1
 243        325          114                  3   3.5   3.0  9.04         1

 [80 rows x 7 columns],
 255    0.79
 237    0.86
 278    0.66
 27     0.44
 76     0.74
        ...
 72     0.93
 228    0.71
 316    0.54
 50     0.76
 352    0.64
 Name: Chance of Admit , Length: 320, dtype: float64,
 244    0.63
 366    0.74
 163    0.68
 379    0.71
 182    0.68
        ...
 268    0.83
 233    0.64
 246    0.72
 112    0.62
 243    0.76
 Name: Chance of Admit , Length: 80, dtype: float64)

In [66]:
model = LinearRegression()

In [67]:
model.fit(xtr,ytr)

LinearRegression()

In [68]:
ypred = model.predict(xte)

In [69]:
ypred

array([0.7165439 , 0.72258578, 0.6944302 , 0.66258632, 0.57574993,
       0.92821811, 0.93297257, 0.7245414 , 0.8103301 , 0.62011966,
       0.58934945, 0.80054894, 0.51965042, 0.79328933, 0.83894979,
       0.66323595, 0.64876126, 0.66486817, 0.75766708, 0.85984764,
       0.65705823, 0.85644754, 0.84790452, 0.95203615, 0.68351047,
       0.65520312, 0.65271755, 0.57007277, 0.55816572, 0.57678459,
       0.54045301, 0.75510387, 0.69948339, 0.77072585, 0.64476075,
       0.51324543, 0.43358163, 0.84656017, 0.9078477 , 0.80629283,
       0.7218659 , 0.73141444, 0.68331139, 0.88530722, 0.77086487,
       0.78390371, 0.95454688, 0.88825756, 0.5956728 , 0.50186564,
       0.59902697, 0.63275313, 0.82698643, 0.4421772 , 0.7122598 ,
       0.77595232, 0.68891281, 0.64158825, 0.85626235, 0.65382088,
       0.65287782, 0.90763642, 0.63571964, 0.68500577, 0.72026995,
       0.6970617 , 0.58940458, 0.93873863, 0.59353659, 0.91695762,
       0.59104218, 0.93514792, 0.59532754, 0.70804391, 0.5433781 ,
       0.84972308, 0.60793074, 0.72451976, 0.67865336, 0.81441316])

In [70]:
mean_squared_error(yte,ypred)

0.004483789262621532

In [71]:
mean_absolute_error(yte,ypred)

0.047757600198728586

In [72]:
r2_score(yte,ypred)

0.8079643551291404

In [73]:
model.intercept_

-1.2695069799364989

In [74]:
model.coef_

array([ 0.00174151,  0.00348526,  0.00433217, -0.00340044,  0.02129946,
        0.11459488,  0.01967799])

In [75]:
model.score(x,y)

0.8019445691425463