In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score,accuracy_score

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/YBIFoundation/Dataset/main/Fish.csv")

In [3]:
df.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [5]:
df.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [6]:
df.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [7]:
df.shape

(159, 8)

In [8]:
x = df[['Category','Height', 'Width', 'Length1',
       'Length2', 'Length3']]

In [9]:
x.shape

(159, 6)

In [10]:
x

     Category   Height   Width  Length1  Length2  Length3
0           1  11.5200  4.0200     23.2     25.4     30.0
1           1  12.4800  4.3056     24.0     26.3     31.2
2           1  12.3778  4.6961     23.9     26.5     31.1
3           1  12.7300  4.4555     26.3     29.0     33.5
4           1  12.4440  5.1340     26.5     29.0     34.0
..        ...      ...     ...      ...      ...      ...
154         6   2.0904  1.3936     11.5     12.2     13.4
155         6   2.4300  1.2690     11.7     12.4     13.5
156         6   2.2770  1.2558     12.1     13.0     13.8
157         6   2.8728  2.0672     13.2     14.3     15.2
158         6   2.9322  1.8792     13.8     15.0     16.2

[159 rows x 6 columns]

In [11]:
y = df['Weight']

In [12]:
y.shape

(159,)

In [13]:
y

0      242.0
1      290.0
2      340.0
3      363.0
4      430.0
       ...
154     12.2
155     13.4
156     12.2
157     19.7
158     19.9
Name: Weight, Length: 159, dtype: float64

In [14]:
xtr,xte,ytr,yte = train_test_split(x,y,test_size=0.2,random_state=2529)

In [15]:
xtr,xte,ytr,yte

(     Category   Height   Width  Length1  Length2  Length3
 129         4   5.7078  4.1580     31.7     34.0     37.8
 111         3  11.4884  7.7957     32.5     35.0     37.3
 147         6   1.7284  1.1484     10.1     10.6     11.6
 125         3  12.5125  7.4165     40.1     43.0     45.5
 120         3  11.7300  7.2250     37.0     40.0     42.5
 ..        ...      ...     ...      ...      ...      ...
 72          3   2.1120  1.4080      7.5      8.4      8.8
 143         4   9.6000  6.1440     56.0     60.0     64.0
 60          7  12.3540  6.5250     37.3     40.0     43.5
 50          5   7.3968  4.1272     22.1     23.5     26.8
 96          3   7.2930  3.7230     22.0     24.0     25.5

 [127 rows x 6 columns],
      Category   Height   Width  Length1  Length2  Length3
 6           1  14.1795  5.2785     26.8     29.7     34.5
 54          5   9.4850  5.3550     29.5     31.7     35.0
 80          3   5.1376  3.0368     17.8     19.6     20.8
 138         4   7.7920  4.8700     43.2     46.0     48.7
 91          3   5.8560  3.6240     20.5     22.5     24.0
 48          5   7.5344  3.8352     22.0     24.0     27.2
 52          5   8.8768  4.4968     24.0     26.0     29.2
 103         3   7.1672  4.3350     25.4     27.5     28.9
 57          7   8.7780  4.6816     25.6     28.0     30.8
 149         6   2.0832  1.2772     10.7     11.2     12.4
 153         6   2.2044  1.1484     11.4     12.0     13.2
 108         3   7.6156  4.7716     27.8     30.0     31.6
 90          3   5.5225  3.9950     20.0     22.0     23.5
 118         3  12.4313  7.3514     36.6     39.0     41.3
 131         4   6.2884  4.0198     34.8     37.3     39.8
 100         3   6.5610  4.2390     23.5     25.6     27.0
 15          1  15.4380  5.5800     29.4     32.0     37.2
 46          5   6.5500  3.3250     21.0     22.5     25.0
 132         4   7.2900  4.5765     35.5     38.0     40.5
 79          3   5.6358  3.0502     17.2     19.0     20.2
 64          2   8.3922  2.9181     17.5     19.0     21.3
 35          5   4.1472  2.2680     12.9     14.1     16.2
 133         4   6.3960  3.9770     36.0     38.5     41.0
 116         3  11.1366  7.4934     36.5     39.0     41.4
 31          1  18.0840  6.2920     35.0     38.5     44.0
 146         6   1.9720  1.1600     10.0     10.5     11.6
 53          5   8.5680  4.7736     25.0     27.0     30.6
 28          1  16.8896  6.1984     32.8     36.0     41.6
 1           1  12.4800  4.3056     24.0     26.3     31.2
 117         3  11.1366  6.0030     36.5     39.0     41.4
 9           1  14.2266  4.9594     28.5     30.7     36.2
 12          1  13.7592  4.3680     29.1     31.5     36.4,
 129     300.0
 111     840.0
 147       7.0
 125    1100.0
 120     900.0
         ...
 72        5.9
 143    1550.0
 60     1000.0
 50      200.0
 96      225.0
 Name: Weight, Length: 127, dtype: float64,
 6      500.0
 54     390.0
 80      85.0
 138    567.0
 91     130.0
 48     169.0
 52     290.0
 103    260.0
 57     306.0
 149      9.8
 153      9.8
 108    320.0
 90     110.0
 118    820.0
 131    300.0
 100    197.0
 15     600.0
 46     140.0
 132    430.0
 79      80.0
 64     120.0
 35      40.0
 133    345.0
 116    900.0
 31     955.0
 146      7.5
 53     272.0
 28     850.0
 1      290.0
 117    650.0
 9      500.0
 12     500.0
 Name: Weight, dtype: float64)

In [16]:
model = LinearRegression()

In [17]:
model.fit(xtr,ytr)

LinearRegression()

In [18]:
ypred = model.predict(xte)

In [19]:
ypred

array([ 476.86643295,  540.66835664,   77.16322236,  873.69696607,
        163.69825313,  259.52982535,  371.75395168,  365.37873833,
        508.50439138, -151.1687491 , -120.48006842,  437.82779751,
        123.27113822,  843.60723082,  578.43789723,  280.63508384,
        584.42396864,  228.7813599 ,  637.37908623,   84.69495178,
        133.847848  ,  -86.98440228,  620.27263153,  766.00235827,
        858.27514579, -168.79990451,  355.16534082,  725.94867879,
        318.83600766,  800.67445695,  488.99334856,  533.91017872])

In [20]:
mean_squared_error(yte,ypred)

18008.103403677196

In [21]:
mean_absolute_error(yte,ypred)

105.669733148005

In [22]:
r2_score(yte,ypred)

0.7481748619568283

In [23]:
model.intercept_

-691.3250288803833

In [24]:
model.coef_

array([ 35.85557127,  51.20106452, -23.26361962,  20.66453768,
        68.226642  , -59.44966564])

In [25]:
model.score(x,y)

0.8914623962585758